@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@font-face {
  font-family: "CocoBikeR";
  src: url("../font/CocoBikeR.eot");
  src: local("CocoBikeR"), url("../font/../font/CocoBikeR.eot?#iefix") format("embedded-opentype"), url("../font/CocoBikeR.woff2") format("woff2"), url("../font/CocoBikeR.woff") format("woff"), url("../font/CocoBikeR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CocoBikeR";
  src: url("../font/CocoBikeR-Bold.eot");
  src: local("CocoBikeR Bold"), local("CocoBikeR-Bold"), url("../font/CocoBikeR-Bold.eot?#iefix") format("embedded-opentype"), url("../font/CocoBikeR-Bold.woff2") format("woff2"), url("../font/CocoBikeR-Bold.woff") format("woff"), url("../font/CocoBikeR-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CocoBikeR";
  src: url("../font/CocoBikeR-Light.eot");
  src: local("CocoBikeR Light"), local("CocoBikeR-Light"), url("../font/CocoBikeR-Light.eot?#iefix") format("embedded-opentype"), url("../font/CocoBikeR-Light.woff2") format("woff2"), url("../font/CocoBikeR-Light.woff") format("woff"), url("../font/CocoBikeR-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CocoBikeR";
  src: url("../font/CocoBikeR-UltraLight.eot");
  src: local("CocoBikeR UltraLight"), local("CocoBikeR-UltraLight"), url("../font/CocoBikeR-UltraLight.eot?#iefix") format("embedded-opentype"), url("../font/CocoBikeR-UltraLight.woff2") format("woff2"), url("../font/CocoBikeR-UltraLight.woff") format("woff"), url("../font/CocoBikeR-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "CocoBikeR";
  src: url("../font/CocoBikeR-Heavy.eot");
  src: local("CocoBikeR Heavy"), local("CocoBikeR-Heavy"), url("../font/CocoBikeR-Heavy.eot?#iefix") format("embedded-opentype"), url("../font/CocoBikeR-Heavy.woff2") format("woff2"), url("../font/CocoBikeR-Heavy.woff") format("woff"), url("../font/CocoBikeR-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: "CocoBikeR";
  font-size: 19px;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "CocoBikeR";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  font-family: "CocoBikeR";
}

.about__body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 1280px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.about__content p {
  line-height: 23px;
  font-size: 17px;
  letter-spacing: 8px;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
}

.about__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@-webkit-keyframes typing {
  0% {
    width: 1px;
  }
  50% {
    width: 1px;
  }
  100% {
    width: 100%;
  }
}

@keyframes typing {
  0% {
    width: 1px;
  }
  50% {
    width: 1px;
  }
  100% {
    width: 100%;
  }
}

.road__body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.road__phases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  max-width: 1284px;
}

.road__phase-title {
  font-size: 22px;
  line-height: 18px;
  margin-bottom: 25px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "CocoBikeR";
}

.road__phase-text {
  font-family: "CocoBikeR";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 8px;
}

.road__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main {
  max-height: 100vh;
  height: 100%;
}

.main__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__line {
  position: absolute;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  rotate: -27deg;
  overflow: hidden;
  width: 37%;
  height: 150%;
  top: -34%;
  left: 41%;
}

.main__line video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.main__half {
  width: 100vh;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 15px;
}

.main__title {
  color: #fff;
  font-size: 12vh;
  letter-spacing: 72px;
  line-height: 100px;
  position: relative;
  z-index: 2;
  margin-right: -72px;
}

.main__title span {
  color: #2b2b2b;
}

.main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  height: 113px;
}

.main__button {
  width: 290px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "evolventa-regular", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 15px;
}

.main__button:first-child {
  background: #fff;
  color: #fa6200;
}

.main__button:last-child {
  background: #2b2b2b;
  color: #fff;
}

.main__body,
.main .about__body,
.main .road__body {
  display: none;
}

.main__body.active,
.main .about__body.active,
.main .road__body.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .about__body {
  display: none;
}

.main .road__body {
  display: none;
}

.main__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  right: 100px;
  bottom: 70px;
}

.main__footer .main__button {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  right: 100px;
  top: 70px;
  max-width: 917px;
  width: 100%;
  margin-bottom: 70px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 917px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  color: #fff;
  font-size: 32px;
  letter-spacing: 10px;
  font-family: "evolventa-regular", sans-serif;
  text-transform: uppercase;
}

.main-socio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.main-socio__item {
  max-height: 59px;
}

@media (max-width: 1650px) {
  .main__title {
    font-size: 10vh;
  }
  .main__line {
    width: 34%;
  }
  .main__button {
    width: 270px;
  }
}

@media (max-width: 1440px) {
  .main__title {
    font-size: 8vh;
  }
  .main__line {
    width: 34%;
  }
  .main__button {
    width: 250px;
  }
  .main__buttons {
    height: 100px;
  }
}

@media (max-width: 1380px) {
  .menu__list {
    max-width: 700px;
  }
  .menu__link {
    font-size: 27px;
  }
}

@media (max-width: 1271px) {
  .main__title {
    font-size: 7vh;
  }
  .main__button {
    width: 220px;
  }
  .main__buttons {
    height: 90px;
  }
  .main-socio__item img {
    max-height: 45px;
  }
}

@media (max-width: 1024px) {
  .menu__list {
    max-width: 600px;
  }
  .menu__link {
    font-size: 22px;
  }
  .main__button {
    width: 180px;
    font-size: 20px;
  }
  .main__buttons {
    height: 70px;
  }
  .main__title {
    font-size: 4vh;
  }
  .main-socio__item img {
    max-height: 40px;
  }
  .menu {
    width: 100%;
    max-width: 100%;
    right: 15px;
  }
  .main__footer {
    right: 15px;
  }
}

@media (max-width: 954px) {
  .menu__link {
    font-size: 18px;
  }
  .main__button {
    width: 170px;
    font-size: 18px;
  }
  .main__buttons {
    height: 60px;
    gap: 15px;
  }
  .menu__list {
    max-width: 500px;
  }
}

@media (max-width: 900px) {
  .menu__list {
    max-width: 100%;
  }
  .main__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__half {
    top: auto;
    bottom: 0;
  }
  .main__line {
    rotate: 90deg;
    width: 25%;
    top: -12%;
    left: 34%;
  }
  .main__buttons {
    margin-bottom: 40px;
    display: none;
  }
  .menu {
    right: 0;
    max-width: calc(100% - 30px);
  }
  .main__footer {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .main__footer .main__button {
    text-align: center;
    display: block;
    background: #2b2b2b;
    color: #fff;
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .main__line {
    rotate: 130deg;
    width: 18%;
    top: -17%;
    left: 44%;
  }
  .main__title {
    letter-spacing: 15px;
    font-size: 12vw;
    left: -6vw;
  }
  .menu__link {
    font-size: 3.5vw;
  }
  .main__half {
    width: 100%;
  }
}

body {
  overflow: hidden;
}

.wrapper {
  background: #fa6200;
  min-height: 100vh;
  height: 100%;
}

section {
  width: 100%;
}

.title {
  font-size: 100px;
  line-height: 80px;
  letter-spacing: 60px;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
  margin-right: -60px;
}

.number {
  font-family: "evolventa-regular", sans-serif;
}

.content {
  height: 562px;
  width: 1280px;
  overflow-y: auto;
}

@media (max-width: 1839px) {
  .title {
    margin-right: 0;
  }
}
