.about {
	&__body {
		flex-direction: column;
		gap: 100px;
		max-width: 1730px;
		padding: 0 15px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 190px;
	}

	&__title {
		font-size: 100px;
		text-align: right;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-width: 1280px;
		scrollbar-width: none;
		-ms-overflow-style: none;
		p {
			line-height: 23px;
			font-size: 17px;
			letter-spacing: 8px;
			text-transform: uppercase;

			overflow: hidden;
			width: 100%;
		}
	}

	&__content::-webkit-scrollbar {
		display: none;
	}

	&__footer {
		display: flex;
		justify-content: flex-end;
	}

	&__socio {
	}
}
.title {
}
.main-socio {
	&__item {
	}
}
@media (max-width: 1565px) {
	.about__body.active + .road__body + .main__footer {
		display: none;
	}
}

@media (max-width: 1308px) {
	.about__body {
		margin-top: 170px;
		gap: 100px;
	}
}

@media (max-height: 1278px) {
	.about__body {
		overflow-x: hidden;
		overflow-y: auto;
	}
	.about__content {
		padding-top: 20px;
		padding-bottom: 50px;
		overflow: auto;
	}
	.about__content p {
		overflow: visible;
		height: 100%;
	}
}

@media (max-width: 500px) {
	.about__body {
		margin-top: 100px;
		gap: 70px;
	}
	.about__content {
		text-align: center;
	}
}

@media (max-width: 414px) {
	.about__body {
		margin-top: 100px;
		gap: 50px;
	}
}
