.main {
	// padding: 75px 0;
	max-height: 100vh;
	height: 100%;

	&__inner {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__line {
		position: absolute;
		background: #000;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		transform: translateX(-50%);
		rotate: -27deg;
		overflow: hidden;
		width: 37%;
		height: 150%;
		top: -34%;
		left: 41%;

		video {
			object-fit: cover;
			// width: 300%;
			width: 100%;
			height: 100%;
			max-width: 100%;
		}
	}
	&__half {
		width: 100vh;
		height: 100%;
		position: relative;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
		max-width: 1750px;
		margin: 0 auto;
		padding: 0 15px;
	}

	&__title {
		color: #fff;
		// font-size: 125px;
		font-size: 12vh;
		letter-spacing: 72px;
		line-height: 100px;
		position: relative;
		z-index: 2;
		margin-right: -72px;
		span {
			color: #2b2b2b;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		gap: 24px;
		height: 113px;
	}

	&__button {
		width: 290px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $fontfamilyEvolventa;
		text-transform: uppercase;
		font-size: 25px;
		letter-spacing: 15px;
		&:first-child {
			background: #fff;
			color: #fa6200;
		}
		&:last-child {
			background: #2b2b2b;
			color: #fff;
		}
	}
	&__body,
	.about__body,
	.road__body {
		display: none;
	}

	&__body,
	.about__body,
	.road__body {
		&.active {
			display: flex;
		}
	}

	&__body {
		// display: none;
	}
	.about__body {
		display: none;
	}
	.road__body {
		display: none;
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: absolute;
		right: 100px;
		bottom: 70px;
		.main__button {
			display: none;
		}
	}
}

.menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	right: 100px;
	top: 70px;
	max-width: 917px;
	width: 100%;
	margin-bottom: 70px;
	z-index: 10;
	&__list {
		display: flex;
		align-items: center;
		max-width: 917px;
		width: 100%;
		justify-content: space-between;
	}

	&__item {
	}

	&__link {
		color: #fff;
		font-size: 32px;
		letter-spacing: 10px;
		font-family: $fontfamilyEvolventa;
		text-transform: uppercase;
	}
}

.main-socio {
	display: flex;
	align-items: center;
	gap: 24px;

	&__item {
		max-height: 59px;
	}
}

@media (max-width: 1650px) {
	.main__title {
		font-size: 10vh;
	}
	.main__line {
		width: 34%;
	}
	.main__button {
		width: 270px;
	}
}

@media (max-width: 1440px) {
	.main__title {
		font-size: 8vh;
	}
	.main__line {
		width: 34%;
	}
	.main__button {
		width: 250px;
	}
	.main__buttons {
		height: 100px;
	}
}

@media (max-width: 1380px) {
	.menu__list {
		max-width: 700px;
	}
	.menu__link {
		font-size: 27px;
	}
}

@media (max-width: 1271px) {
	.main__title {
		font-size: 7vh;
	}
	.main__button {
		width: 220px;
	}
	.main__buttons {
		height: 90px;
	}
	.main-socio__item img {
		max-height: 45px;
	}
}
@media (max-width: 1024px) {
	.menu__list {
		max-width: 600px;
	}
	.menu__link {
		font-size: 22px;
	}
	.main__button {
		width: 180px;
		font-size: 20px;
	}
	.main__buttons {
		height: 70px;
	}
	.main__title {
		font-size: 4vh;
	}
	.main-socio__item img {
		max-height: 40px;
	}
	.menu {
		width: 100%;
		max-width: 100%;
		right: auto;
	}
	.main__footer {
		right: 15px;
	}
}

@media (max-width: 954px) {
	.menu__link {
		font-size: 18px;
	}
	.main__button {
		width: 170px;
		font-size: 18px;
	}
	.main__buttons {
		height: 60px;
		gap: 15px;
	}
	.menu__list {
		max-width: 500px;
	}
}

@media (max-width: 900px) {
	.menu__list {
		max-width: calc(100% - 30px);
    margin: 0 auto;
		right: auto;
		// left: 0;
	}
	.main__body {
		flex-direction: column;
	}
	.main__half {
		top: auto;
		bottom: 0;
	}
	.main__line {
		rotate: 90deg;
		width: 25%;
		top: -12%;
		left: 34%;
	}
	.main__buttons {
		margin-bottom: 40px;
		display: none;
	}
	.menu {
	}
	.main__footer {
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		.main__button {
			text-align: center;
			display: block;
			background: #2b2b2b;
			color: #fff;
			padding: 20px;
		}
	}
}

@media (max-width: 500px) {
	.main__line {
		rotate: 130deg;
		width: 18%;
		top: -17%;
		left: 44%;
	}
	.menu {
		top: 40px;
	}
	.main__title {
		letter-spacing: 15px;
		font-size: 12vw;
		left: -6vw;
	}
	.menu__link {
		font-size: 3.5vw;
		letter-spacing: 5px;
	}
	.main__half {
		width: 100%;
	}
}
