.main {
	// padding: 75px 0;
	max-height: 100vh;
	height: 100%;

	&__inner {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__line {
		position: absolute;
		background: #000;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		transform: translateX(-50%);
		rotate: -27deg;
		overflow: hidden;
		width: 37%;
    height: 150%;
    top: -34%;
    left: 41%;

		video {
			object-fit: cover;
			// width: 300%;
			width: 100%;
			height: 100%;
			max-width: 100%;
		}
	}
	&__half {
		width: 100vh;
		height: 100%;
		position: relative;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
	}

	&__title {
		color: #fff;
		// font-size: 125px;
		font-size: 12vh;
		letter-spacing: 72px;
		line-height: 100px;
		position: relative;
		z-index: 2;
		margin-right: -72px;
		span {
			color: #2B2B2B;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		gap: 24px;
		height: 113px;
	}

	&__button {
		width: 290px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $fontfamilyEvolventa;
		text-transform: uppercase;
		font-size: 25px;
		letter-spacing: 15px;
		&:first-child {
			background: #fff;
			color: #fa6200;
		}
		&:last-child {
			background: #2b2b2b;
			color: #fff;
		}
	}
	&__body,
	.about__body,
	.road__body {
		display: none;
	}

	&__body,
	.about__body,
	.road__body {
		&.active {
			display: flex;
		}
	}

	&__body {
		// display: none;
	}
	.about__body {
		display: none;
	}
	.road__body {
		display: none;
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: absolute;
		right: 100px;
		bottom: 70px;
	}
}

.menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	right: 100px;
	top: 70px;
	max-width: 917px;
	width: 100%;
	margin-bottom: 70px;
	&__list {
		display: flex;
		align-items: center;
		max-width: 917px;
		width: 100%;
		justify-content: space-between;
	}

	&__item {
	}

	&__link {
		color: #fff;
		font-size: 32px;
		letter-spacing: 10px;
		font-family: $fontfamilyEvolventa;
		text-transform: uppercase;
	}
}

.main-socio {
	display: flex;
	align-items: center;
	gap: 24px;

	&__item {
		max-height: 59px;
	}
}

// @media (max-width: 1626px) {
// 	.main {
// 		&__body {
// 			flex-direction: column;
// 			justify-content: space-around;
// 		}
// 	}
// }

// @media (max-width: 1150px) {
// 	.main {
// 		&__title {
// 			letter-spacing: 45px;
// 		}
// 	}
// 	.menu__item {
// 		width: 100%;
// 		display: flex;
// 		justify-content: center;
// 	}
// }

// @media (max-width: 859px) {
// 	.main {
// 		&__title {
// 			letter-spacing: 25px;
// 			font-size: 100px;
// 		}
// 		&__footer {
// 			justify-content: center;
// 		}
// 	}
// 	.menu {
// 		&__link {
// 			font-size: 24px;
// 		}
// 	}
// 	.menu__item {
// 		width: 100%;
// 		display: flex;
// 		justify-content: center;
// 	}
// }

// @media (max-width: 675px) {
// 	.main__buttons {
// 		width: 100%;
// 		justify-content: space-between;
// 		height: 95px;
// 	}
// 	.main__button {
// 		max-width: 100%;
// 		// width: 145px;
// 	}

// 	.main {
// 		&__title {
// 			letter-spacing: 20px;
// 			font-size: 70px;
// 		}
// 	}

// 	.menu {
// 		&__link {
// 			font-size: 18px;
// 		}
// 	}
// }
// @media (max-width: 500px) {
// 	.menu {
// 		&__list {
// 			gap: 10px;
// 		}
// 		&__link {
// 			font-size: 12px;
// 		}
// 	}

// 	.main {
// 		&__title {
// 			letter-spacing: 10px;
// 			font-size: 50px;
// 		}
// 	}

// 	.main__buttons {
// 		gap: 10px;
// 		height: 75px;
// 	}

// 	.main__button {
// 		font-size: 17px;
// 		letter-spacing: 5px;
// 	}
// }
