@import "_nullable.scss";
@import "_about.scss";
@import "_road.scss";
@import "_main.scss";
body {
	overflow: hidden;
}

.wrapper {
	background: #fa6200;
	min-height: 100vh;
	height: 100%;
}
section {
	width: 100%;
	// max-height: 762px;
}
.title {
	font-size: 100px;
	line-height: 80px;
	letter-spacing: 60px;
	color: #fff;
	text-transform: uppercase;
	text-align: right;
	margin-right: -60px;
}
.container {
	max-width: 1730px;
	margin: 0 auto;
	padding: 0 15px;
}
.number {
	font-family: $fontfamilyEvolventa;
}

.content {
	height: 562px;
	width: 1280px;
	overflow-y: auto;
}

@media (max-width: 1839px) {
	.title {
		margin-right: 0;
	}
}